
  {% extends 'base.html' %}
  {% block title %}Watermark{% endblock title %}
  {% block body %}

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="row">
        <form action='/watermark' method="post" class="col s12" enctype="multipart/form-data">
          <div class="row">

            <div class="input-field col s5" style="margin-left: 20px; margin-top: 50px">
              <div class = "row">

                  <div class="row">
                    <label for="first_name"><b>Upload Image to watermark</b></label><br>
                    <div class = "file-field form-contro">
                      <div>
                        <span>Browse</span>
                        <input class = "btn form-control"  type = "file" name="image_upload" id="image_upload" />
                      </div>
                      <div class = "file-path-wrapper">
                        <!-- <input class = "file-path validate" type = "text" placeholder = "Upload Image" name="image_name" id="image_name" /> -->
                      </div>
                    </div>                    
                  </div>
                  
                  <div class="row" id="imagebox">
                    <label for="first_name"><b>Upload logo to watermark</b></label><br>
                    <div class = "file-field input-field">
                      <div>
                        <span>Browse</span>
                        <input class = "btn form-control"  type = "file" name="logo_upload" id="logo_upload" />
                      </div>
                      <div class = "file-path-wrapper">
                        <!-- <input class = "file-path validate" type = "text" placeholder = "Upload Logo" name="file_name" id="file_name" /> -->
                      </div>
                    </div>                    
                  </div>

                  <div class="row">
                    <div id="textboxes">
                      <div class="form-control col s12">
                        <input class="form-control" placeholder="Placeholder" id="text_mark" name="text_mark" type="text" value="example">
                        <label for="first_name"><b>Text to watermark</b></label>
                      </div>
                    </div>                    
                  </div>

                  <br>

                  <fieldset id="radiofield" style="border: none;">
                    <label>
                      <input id="logo_watermark" name="options" type="radio" value="logo_watermark" checked />
                      <span>Logo Watermark</span>
                    </label>
                    <label style="margin-left: 70px">
                      <input id="text_watermark" name="options" type="radio" value="text_watermark"/>
                      <span>Text Watermark</span>
                    </label>
                  </fieldset>
        
                  <div class="row center" style="margin-top: 50px">
                    <button id="submit" type="submit" class="btn btn-primary btn-lg">Check</button>
                  </div>

              </div>
            </div>

            <div class="input-field col s3">
              <div style="text-align: center; padding-top: 50px; margin-left: 100px">
                
                <img src="{{ full_filename }}" height="300">
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>

  </div>
  </div>

  <!--  Scripts-->
  <script src="./static/js/materialize.js"></script>
  <script type="text/javascript">
    var imagebox = document.getElementById('imagebox');
    var textbox = document.getElementById('textboxes');
    

    textbox.style.display = "none";
    document.getElementById('image_upload').onchange = function () {
        document.getElementById('image_name').value = this.value.slice(12,100);
    };
    document.getElementById('logo_upload').onchange = function () {
        document.getElementById('logo_name').value = this.value.slice(12,100);
    };

    document.getElementById('radiofield').onchange = function () {
      if(document.getElementById('logo_watermark').checked) {
        textbox.style.display = "none";
        imagebox.style.display = "block";
      }else if(document.getElementById('text_watermark').checked) {
        textbox.style.display = "block";
        imagebox.style.display = "none";
      }
    };


  </script>
  {% endblock body %}



